
body {
  margin: 0;
  padding: 1.5em;
}
.site-container {
  max-width: 800px;
  margin: 0 auto;
}
.title {
  text-align: center;
  font-size: calc(3vw + 1.6rem);
  line-height: calc(6vw + 1rem);
  margin: 1em 0 1.7em 0;
}
.graph-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.graph{
  background-color: rgba(244, 244, 244, 1);
  padding: 1em;
  border-radius: 1.5em;
  box-shadow: 0 0 6px rgba(0, 0, 0, 25%);
  width: 100%;
}
.graph .title {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 2.5rem;
}
.graph .graph-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 30vw;
  position: relative;
}
.graph .bar-container {
  width: 11%;
  position: relative;
}
.graph .top-part, .graph .bottom-part {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  border-radius: 0.85em 0.85em 0  0;
}
.graph .top-part {
  background-color: rgba(160, 158, 254, 1);
}
.graph .bottom-part {
  background-color: rgba(248, 182, 85, 1);
  top: 50%;
}

.top-line {
  position: absolute;
  left: 0;
  right: 0;
  top: -5%;
}
.top-line .inner-text {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100;
  top: -100%;
  font-size: 1.2rem;
}

.under-liner {
  background-color: rgba(217, 217, 217, 1);
  height: 0.5em;
  border-radius: 0 0 1em 1em;
}
.days-container {
  display: flex;
  justify-content: space-between;
}
.days {
  width: 11%;
  text-align: center;
  margin: 0;
  margin-top: 0.8em;
}
.main-button-container {
  display: flex;
  margin-top: 3em;
}
.btn-and-timer {
  width: 100%;
}
.btn-and-timer + .btn-and-timer {
  margin-left: 8%;
}
.main-button {
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  background-color: gray;
  border: none;
  font-weight: bold;
  font-size: 4.7vw;
  padding: 1em;
  color: white;
  width: 100%;
  flex-shrink: 0;
  transition: all 0.10s;
}
.button-text {
  margin: 0;
}
.main-button:hover,.main-button:focus  {
  box-shadow: 0 0 6px rgba(0, 0, 0, 25%);
}
.main-button:active {
  scale: 0.95;
}
.timer {
  text-align: center;
  font-size: 4.7vw;
  font-weight: bold;
  letter-spacing: 0.1vw;
  margin: 0.5em 0 -0.8em;
}
.sub-title {
  text-align: center;
  font-size: 2.5rem;

}
.time-spent-bar{
  width: 95%;
  background-color: none;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}
.left-bar, .right-bar {
  color: white;
  display: inline-block;
  font-size: calc(1.7rem + 1vw);
  font-weight: bold;
  margin: 0;
  padding: 0.2em 0;

}
.left-bar {
  padding-left: 5%;
  width: 100%;
  background-color: rgba(248, 182, 85, 1);
  border-radius: 20px 0 0 20px;
}
.right-bar {
  text-align:end;
  width: 100%;
  padding-right: 5%;
  background-color: rgba(160, 158, 254, 1);
  border-radius: 0 20px 20px 0;
}
.sign-in-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  margin-top: 15em;
  padding: 3em;
  border-radius: 2em;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 0 6px rgba(0, 0, 0, 25%);
  max-width: 700px;
}
.sign-in-box .title {
  font-size: 4rem;
  margin: 0 0 0.7em 0;
}
.sign-in-with-google-button {
  background:#4285f4;
  color:white;
  border:none;
  margin-inline: auto;
  border-radius: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.google-logo {
  width:20%;
  padding: 0.3em;
  background:white;
  border-radius:50%;
}
.sign-in-with-google-button .text {
  margin-right: 5%;
  left: 5%;
  position: relative;
  font-size: 3rem;
  line-height: 5rem;
}
.footer {
  text-align: center;
  margin-top: 2em;
}
@media (min-width: 500px) {
  .sign-in-box .title {
    font-size: 5rem;

  }
  .sign-in-with-google-button {
    padding: 1em 0;
  }
  .sign-in-with-google-button .text {
    font-size: 4rem;
  }
}
@media (min-width: 800px) {
  .title {
    font-size: 5rem;
    margin: 0.5em 0 0.9em 0;
    line-height: 1.2em;
  }
  .graph .title {
    margin-bottom: 0.8em;
  }
  .graph .graph-bar-container {
    height: 20em;
  }
  .graph .top-part, .graph .bottom-part {
    border-radius: 1.3em 1.3em 0  0;
  }
  .top-line {
    top: -3%;
  }
  .main-button {
    font-size: 2.8rem;
  }
  .timer {
    font-size: 2.8rem;
  }
  .left-bar, .right-bar {
    font-size: 2.4rem;
  
  }
  .left-bar {
    padding-left: 0.7em;
  }
  .right-bar {
    padding-right: 0.7em;
  }
}